environment    = "demo"
aws_profile    = "quantified-self-dashboard-dev"
aws_region     = "us-east-1"
account_id     = "your-account-id"
sheets_url     = "https://docs.google.com/spreadsheets/d/1tMq20IZEma540FVa6WTqOz5JO4T8ZibfzTvemfePiM8/export?format=csv&sheet=quincy_everyman_final"
ses_sender     = "your-verified-email@example.com"
ses_recipient  = "your-verified-email@example.com"
dashboard_name = "The Quantified Everyman"
